@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');

.lobster-big {
    font-family: 'Lobster', cursive;
    font-size: 56px;
}
.margin-top {
    margin-top: 250px;
}
.raleway-font {
    font-family: 'Raleway', cursive;
}
.sunflower-bg {
    background: url('../../assets/images/sunflower1.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
    margin-top: -15px;
}
.white-text {
    color: white;
}
.margin-left {
    margin-left: -800px;
}
.button-center {
    margin-left: 300px;
}