@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');

.background {
    background-image: url('./../../assets/images/sunflower-bg.jpg');
    background-size: contain;
    margin-top: -20px;
    padding-top: 25px;
}
.caption {
    font-family: 'Raleway', sans-serif;
}
.thumbnail {
    height: 890px;
}
.center {
    margin: auto;
}
.img-size {
    height: 350px;
    width: 600px;
}
.showtimes {
    font-family: 'Lobster', sans-serif;
}
.description {
    height: 170px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0,0, 0.2));
}

@media (max-width: 991px) {
    .thumbnail {
        height: auto;
    }
    .img-size {
        height: 250px;
    }
    .description {
        min-height: 100px;
        height: auto;
    }
}
